In [7]:
#import pandas

import pandas as pd

In [8]:
#Import Modules

import os
import csv

In [9]:
#Set path for file

csvpath = os.path.join("Resources", "purchase_data.csv")

In [11]:
#Set table to data frame

df_purchase_data = pd.read_csv(csvpath)
df_purchase_data.head()

,Purchase_ID,SN,Age,Gender,Item_ID,Item_Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [12]:
#DETERMINE PLAYER COUNT
unique_players = df_purchase_data["SN"].unique()
player_count = len(unique_players)
player_count

576

In [13]:
#ANALYZE PURCHASING TOTALS:
#Number of Unique Items, Average Purchase Price, Total Number of Purchases, Total Revenue

In [14]:
#Number of unique items
unique_items = df_purchase_data["Item_Name"].unique()
unique_items_ct = len(unique_items)
unique_items_ct

179

In [15]:
#Average Purchase Price:

purchase_price = df_purchase_data["Price"].mean()
purchase_price
#round up to two decimals?

3.050987179487176

In [16]:
#ANALYZE GENDER DEMOGRAPHICS:
# % and Count of Male Players, % and Count of Female Players, % and Count of Other/Non-disclosed Players

In [17]:
# Count of Male Players
#first, define unique player names by gender
unique_genders_df = df_purchase_data.groupby("Gender")["SN"].nunique()
#then, call out gender "male"
num_males = unique_genders_df["Male"]

num_males

484

In [18]:
# % of Male Players

perc_male = num_males/player_count*100
perc_male

#round up to two decimals?

84.02777777777779

In [19]:
# % and Count of Female Players

#then, call out gender "female"
num_females = unique_genders_df["Female"]

num_females

81

In [20]:
# % of Female Players

perc_female = num_females/player_count*100
perc_female

#round up to two decimals?

14.0625

In [21]:
# Count of Other/Non-disclosed Players

#then, call out gender "Other/Non-Disclosed"
num_other = unique_genders_df["Other / Non-Disclosed"]

num_other

11

In [22]:
# % of Other/Non-disclosed Players

perc_unknown = num_other/player_count*100
perc_unknown

#round up to two decimals?

1.9097222222222223

In [23]:
#Analyze Purchasing by Gender: 
#For each gender, determine
#Purchase Count, Average Purchase Price, Total Purchase Value, Average Purchase Total Per Person

In [24]:
#For males, determine Purchase Count

male_purchase = df_purchase_data.loc[df_purchase_data["Gender"] == "Male", :] 
male_purchase = len(male_purchase) 
male_purchase

652

In [25]:
#For males, determine Average Purchase Price

m_avg_purch = male_purchase/num_males
m_avg_purch

#round up to two decimals?

1.3471074380165289

In [26]:
#For males, determine Total Purchase Value

unique_genders_purch = df_purchase_data.groupby("Gender")["Price"].nunique()

#then, call out gender "male"
tot_m_purch = unique_genders_purch["Male"]
tot_m_purch

144

In [27]:
#For males, determine Total Average Purchase per person

df_avg_tot_purch = df_purchase_data.groupby(["SN", "Gender"])["Price"].agg(lambda x: x.unique().mean())
df_avg_tot_purch.head()

df_avg_tot_purch[df_avg_tot_purch.index.isin(["Male"], level="Gender")]

SN            Gender
Adairialis76  Male      2.280000
Aeda94        Male      4.910000
Aela59        Male      4.320000
Aelaria33     Male      1.790000
Aelastirin39  Male      3.645000
                          ...
Yasur85       Male      1.100000
Yathecal72    Male      3.460000
Yathedeu43    Male      3.010000
Zhisrisu83    Male      3.945000
Zontibe81     Male      2.676667
Name: Price, Length: 484, dtype: float64

In [28]:
#For females, determine Purchase Count

female_purchase = df_purchase_data.loc[df_purchase_data["Gender"] == "Female", :]

female_purchase = len(female_purchase)
female_purchase

113

In [29]:
#For females, determine Average Purchase Price
f_avg_purch = female_purchase/num_females
f_avg_purch

#round up to two decimals?

1.3950617283950617

In [30]:
#For females, determine Total Purchase Value

tot_f_purch = unique_genders_purch["Female"]
tot_f_purch

79

In [31]:
#For females, determine Average Purchase Total Per Person

df_avg_tot_purch[df_avg_tot_purch.index.isin(["Female"], level="Gender")]

SN             Gender
Adastirin33    Female    4.480000
Aerithllora36  Female    4.320000
Aethedru70     Female    3.540000
Aidain51       Female    3.450000
Aiduesu86      Female    4.480000
                           ...
Wailin72       Female    2.730000
Yana46         Female    3.550000
Yarithrin84    Female    4.140000
Yathecal82     Female    2.073333
Yoishirrala98  Female    4.580000
Name: Price, Length: 81, dtype: float64

In [32]:
#For unknown gender, determine
#Purchase Count, Average Purchase Price, Total Purchase Value, Average Purchase Total Per Person

other_gender_purchase = df_purchase_data.loc[df_purchase_data["Gender"] == "Other / Non-Disclosed", :]
other_gender_purchase = len(other_gender_purchase)
other_gender_purchase

15

In [33]:
#For unknown gender, determine Average Purchase Price

o_avg_purch = other_gender_purchase/num_other
o_avg_purch

#round up to two decimals?

1.3636363636363635

In [34]:
#For unknown gender, determine Total Purchase Value

tot_f_purch = unique_genders_purch["Other / Non-Disclosed"]
tot_f_purch

12

In [35]:
#For unknown gender, determine Average Purchase Total Per Person

df_avg_tot_purch[df_avg_tot_purch.index.isin(["Other / Non-Disclosed"], level="Gender")]

SN            Gender
Airi27        Other / Non-Disclosed    3.450
Chanosian48   Other / Non-Disclosed    3.760
Eodaisu60     Other / Non-Disclosed    3.940
Haerithp41    Other / Non-Disclosed    4.400
Idairin51     Other / Non-Disclosed    3.500
Jiskirran77   Other / Non-Disclosed    3.390
Lirtim36      Other / Non-Disclosed    1.330
Maluncil97    Other / Non-Disclosed    2.640
Rairith81     Other / Non-Disclosed    2.220
Siarithria38  Other / Non-Disclosed    3.455
Sundim98      Other / Non-Disclosed    4.750
Name: Price, dtype: float64

In [36]:
#ANALYZE AGE DEMOGRAPHICS:

In [42]:
#Determine total age range

#minimum age
minValue = df_purchase_data["Age"].min()
print("minimum value in column 'Age': " , minValue)

minimum value in column 'Age':  7

In [43]:
#maximum age
maxValue = df_purchase_data["Age"].max()
print("minimum value in column 'Age': " , maxValue)

minimum value in column 'Age':  45

In [ ]:
#Break age groups into bins of 4 years: 7-10

In [ ]:
#Break age groups into bins of 4 years: 11-14

In [ ]:
#Break age groups into bins of 4 years: 15-18

In [ ]:
#Break age groups into bins of 4 years: 19-22

In [ ]:
#Break age groups into bins of 4 years: 23-26

In [ ]:
#Break age groups into bins of 4 years: 27-30

In [ ]:
#Break age groups into bins of 4 years: 31-34

In [ ]:
#Break age groups into bins of 4 years: 35-38

In [ ]:
#Break age groups into bins of 4 years: 39-42

In [ ]:
#Break age groups into bins of 4 years: 43-45

In [ ]:
#Within age bin 1, get purchase count

In [ ]:
#Within age bin 2, get purchase count

In [ ]:
#Within age bin 3, get purchase count

In [ ]:
#Within age bin 4, get purchase count

In [ ]:
#Within age bin 5, get purchase count

In [ ]:
#Within age bin 6, get purchase count

In [ ]:
#Within age bin 7, get purchase count

In [ ]:
#Within age bin 8, get purchase count

In [ ]:
#Within age bin 9, get purchase count

In [ ]:
#Within age bin 10, get purchase count

In [ ]:
#Within age bin 1, get average purchase price total per person

In [ ]:
#Within age bin 2, get average purchase price total per person

In [ ]:
#Within age bin 3, get average purchase price total per person

In [ ]:
#Within age bin 4, get average purchase price total per person

In [ ]:
#Within age bin 5, get average purchase price total per person

In [ ]:
#Within age bin 6, get average purchase price total per person

In [ ]:
#Within age bin 7, get average purchase price total per person

In [ ]:
#Within age bin 8, get average purchase price total per person

In [ ]:
#Within age bin 9, get average purchase price total per person

In [ ]:
#Within age bin 10, get average purchase price total per person

In [ ]:
#Within age bin 1, get average purchase total

In [ ]:
#Within age bin 2, get average purchase total

In [ ]:
#Within age bin 3, get average purchase total

In [ ]:
#Within age bin 4, get average purchase total

In [ ]:
#Within age bin 5, get average purchase total

In [ ]:
#Within age bin 6, get average purchase total

In [ ]:
#Within age bin 7, get average purchase total

In [ ]:
#Within age bin 8, get average purchase total

In [ ]:
#Within age bin 9, get average purchase total

In [ ]:
#Within age bin 10, get average purchase total

In [ ]:
#ANALYZE TOP SPENDERS:

In [ ]:
#Identify the top 5 spenders in game by total purchase value

In [ ]:
#List them in a table with the following information
#SN, Purchase Count, Average Purchase Price, Total Purchase Price

In [ ]:
#DETERMINE MOST POPULAR ITEMS

In [ ]:
#Identify the 5 most popular items by purchase count

In [ ]:
#List them in a table with the following information
#Item ID, Item Name, #Purchase Count, #Item Price, #Total Purchase Value

In [ ]:
#DETERMINE MOST PROFITABLE ITEMS

In [ ]:
#Identify the 5 most profitable items by total purchase value

In [ ]:
#List them in a table with the following information
#Item ID, Item Name, Purchase Count, Itemm Price, Total Purchase Value