In [109]:
#import pandas

import pandas as pd

In [110]:
#Import Modules
import numpy as np
import os
import csv

In [111]:
#Set path for file

csvpath = os.path.join("Resources", "purchase_data.csv")

In [112]:
#Set table to data frame

df_purchase_data = pd.read_csv(csvpath)
df_purchase_data.head()

,Purchase_ID,SN,Age,Gender,Item_ID,Item_Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [113]:
#DETERMINE PLAYER COUNT

unique_players = pd.DataFrame([{"Individual Players": df_purchase_data["SN"].nunique()}])
unique_players

   Individual Players
0                 576

In [114]:
#ANALYZE PURCHASING TOTALS:
#Number of Unique Items, Average Purchase Price, Total Number of Purchases, Total Revenue

In [115]:
#Number of unique items
unique_items = pd.DataFrame([{"Item Name": df_purchase_data["Item_Name"].nunique()}])
unique_items

   Item Name
0        179

In [116]:
#Average Purchase Price:
purchase_price = pd.DataFrame([{"Average Price": df_purchase_data["Price"].mean()}])
#Round average purchase price:
purchase_price.round(2)

   Average Price
0           3.05

In [117]:
#Total Number of Purchases:
total_purchases = pd.DataFrame([{"Total Purchases": df_purchase_data["Price"].count()}])
total_purchases

   Total Purchases
0              780

In [118]:
#Total Revenue
total_revenue = df_purchase_data["Price"].sum()
total_revenue

2379.77

In [119]:
#ANALYZE GENDER DEMOGRAPHICS:
# % and Count of Male Players, 
# % and Count of Female Players, 
# % and Count of Other/Non-disclosed Players

In [120]:
#Count of players by gender category, and percentage by gender

#Create dataframe that indicates the number of each gender category                  
Gender = df_purchase_data.groupby("Gender").nunique()
Male = Gender.iloc[1,1]
Female = Gender.iloc[0,1]
Other = Gender.iloc[2,1]

#Create a dataframe that calculates the totals and percentages of each gender category
df_percentage = pd.DataFrame({
    "Gender": ["Male", "Female", "Other/Not Disclosed"],
    "Total": [Male, Female, Other],
    "Percentage": [100*Male/df_purchase_data["SN"].nunique(), 
                    100*Female/df_purchase_data["SN"].nunique(), 
                    100*Other/df_purchase_data["SN"].nunique()]
})

df_percentage.loc["Total Players"]= df_percentage.sum(axis=0,numeric_only=True)
df_percentage.loc["Total Players", "Gender"] = ""

#Format the percentages to two decimals
df_percentage = df_percentage.round(2)

#Print out the total of each gender category and its percentage in a table
df_percentage

                            Gender  Total  Percentage
0                             Male  484.0       84.03
1                           Female   81.0       14.06
2              Other/Not Disclosed   11.0        1.91
Total Players                       576.0      100.00

In [121]:
#Analyze Purchasing by Gender: 

#For each gender, determine
#Purchase Count, Average Purchase Price, Total Purchase Value

In [122]:
df_gender_2 = df_purchase_data.groupby('Gender')

Total_Purchase_Counts = round(df_gender_2['Price'].count(), 0)
Avg_Purchase_Price = round(df_gender_2['Price'].mean(), 2)
Total_Purchase_Values = round(df_gender_2['Price'].sum(), 2)
Purchase_Value_Per_Gender = round(Total_Purchase_Values / Total_Purchase_Counts, 2)

summary_dataframe2 = pd.DataFrame([Total_Purchase_Counts, Avg_Purchase_Price, Total_Purchase_Values, Purchase_Value_Per_Gender])
summary2 = summary_dataframe2.T
summary2.columns = ['Total Purchase Count', 'Average Purchase Price', 'Total Purchase Value', 'Avg Total Purchase per Person']
summary2

,Total Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Gender,,,,
Female,113.0,3.20,361.94,3.20
Male,652.0,3.02,1967.64,3.02
Other / Non-Disclosed,15.0,3.35,50.19,3.35

In [123]:
#ANALYZE AGE DEMOGRAPHICS:

In [124]:
#* The below each broken into bins of 4 years (i.e. &lt;10, 10-14, 15-19, etc.)
#  * Purchase Count
#  * Average Purchase Price
#  * Total Purchase Value
#  * Average Purchase Total per Person by Age Group

In [125]:
#Determine age ranges broken into bins of 4 years
Age = df_purchase_data.groupby("SN").mean()
groups = [0, 9, 14, 19, 24, 29, 34, 39,  np.inf]
group_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]
Age["Bin"] = pd.cut(Age["Age"], groups, labels=group_names)
Bins = pd.DataFrame({"Total Count": Age.groupby("Bin")["Age"].count()})
Bins["Percentage of Players"] = 100* Bins["Total Count"]/Bins["Total Count"].sum()
Bins_formatted = Bins
Bins_formatted["Percentage of Players"] = Bins_formatted["Percentage of Players"].map("{:.2f}%".format)
Bins_formatted

       Total Count Percentage of Players
Bin
<10             17                 2.95%
10-14           22                 3.82%
15-19          107                18.58%
20-24          258                44.79%
25-29           77                13.37%
30-34           52                 9.03%
35-39           31                 5.38%
40+             12                 2.08%

In [126]:
#For each age group (bin), determine:
#  * Purchase Count
#  * Average Purchase Price
#  * Total Purchase Value
#  * Average Purchase Total per Person by Age Group

df_purchase_data["Bin"] = pd.cut(df_purchase_data["Age"], groups, labels=group_names)
df_purchase_data_grouped = pd.DataFrame({
                    "Purchase Count": df_purchase_data.groupby("Bin")["Price"].count(),
                    "Average Purchase Price": round(df_purchase_data.groupby("Bin")["Price"].mean(),2),
                    "Total Purchase Value": 
                        df_purchase_data.groupby("Bin")["Price"].mean()*
                        df_purchase_data.groupby("Bin")["Price"].count(),
                    "Average Total per Person":
                        round(df_purchase_data.groupby("Bin")["Price"].mean()*
                        df_purchase_data.groupby("Bin")["Price"].count()/Bins["Total Count"],2)
                        })
df_purchase_data_grouped

,Purchase Count,Average Purchase Price,Total Purchase Value,Average Total per Person
Bin,,,,
<10,23,3.35,77.13,4.54
10-14,28,2.96,82.78,3.76
15-19,136,3.04,412.89,3.86
20-24,365,3.05,1114.06,4.32
25-29,101,2.90,293.00,3.81
30-34,73,2.93,214.00,4.12
35-39,41,3.60,147.67,4.76
40+,13,2.94,38.24,3.19

In [127]:
#ANALYZE TOP SPENDERS:

In [128]:
#Determine top 5 spenders by purchase price

df_description = df_purchase_data.groupby("SN")["Price"].describe()
df_top_spenders = pd.DataFrame({
    "Purchase Count": df_description["count"],
    "Average Purchase Price": df_description["mean"],
    "Total Purchase Value": df_description["mean"]*df_description["count"]
})
df_top_spenders = df_top_spenders.sort_values("Total Purchase Value", ascending=False)
df_top_spenders.head(5)

             Purchase Count  Average Purchase Price  Total Purchase Value
SN
Lisosia93               5.0                3.792000                 18.96
Idastidru52             4.0                3.862500                 15.45
Chamjask73              3.0                4.610000                 13.83
Iral74                  4.0                3.405000                 13.62
Iskadarya95             3.0                4.366667                 13.10

In [129]:
#DETERMINE MOST POPULAR ITEMS

In [185]:
#Determine top 5 most popular items by purchase count and generate table that describes
#these items with Item ID, Item Name, Purchase Count, Item Price, Total Purchase Value

Most_Popular_Items = df_purchase_data.drop(columns=["SN", "Age", "Gender", "Purchase_ID"])
Most_Popular_Items = Most_Popular_Items.groupby(["Item_ID", "Item_Name"])['Price'].describe()
Most_Popular_Items = Most_Popular_Items.drop(columns=["std", "min", "25%", "50%", "75%", "max"])
Most_Popular_Items["Total Purchase Value"] = Most_Popular_Items["count"]*Most_Popular_Items["mean"]
Most_Popular_Items = Most_Popular_Items.rename(columns={"Item_ID": "Item ID", "Item_Name": "Item Name", "count": "Purchase Count", "mean": "Item Price"})
Most_Popular_Items = Most_Popular_Items.sort_values("Purchase Count", ascending=False)
Most_Popular_Items.head()

,,Purchase Count,Item Price,Total Purchase Value
Item_ID,Item_Name,,,
92,Final Critic,13.0,4.614615,59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12.0,4.230000,50.76
145,Fiery Glass Crusader,9.0,4.580000,41.22
132,Persuasion,9.0,3.221111,28.99
108,"Extraction, Quickblade Of Trembling Hands",9.0,3.530000,31.77

In [ ]:
#DETERMINE MOST PROFITABLE ITEMS

In [371]:
#Identify the 5 most profitable items by total purchase value
prof_items_df = df_purchase_data.groupby("Price")["Item_Name"].nunique()
profitable_items_df = df_purchase_data.sort_values(by = ['Price'], ascending=[False])

profitable_items_df.head(5)

,Purchase_ID,SN,Age,Gender,Item_ID,Item_Name,Price,Age Groups
554,554,Dyally87,22,Male,63,Stormfury Mace,4.99,19-22
189,189,Hiasri33,23,Male,63,Stormfury Mace,4.99,23-26
110,110,Ririp86,25,Male,139,"Mercy, Katana of Dismay",4.94,23-26
246,246,Lirtilsa71,24,Male,139,"Mercy, Katana of Dismay",4.94,23-26
493,493,Chanirrasta87,14,Male,139,"Mercy, Katana of Dismay",4.94,11-14

In [ ]:
#List them in a table with the following information
#Item ID, Item Name, Purchase Count, Itemm Price, Total Purchase Value